<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= label f, :posX, class: "control-label" %>
    <%= number_input f, :posX, class: "form-control" %>
    <%= error_tag f, :posX %>
  </div>

  <div class="form-group">
    <%= label f, :posY, class: "control-label" %>
    <%= number_input f, :posY, class: "form-control" %>
    <%= error_tag f, :posY %>
  </div>

  <div class="form-group">
    <%= label f, :text, class: "control-label" %>
    <%= text_input f, :text, class: "form-control" %>
    <%= error_tag f, :text %>
  </div>

  <div class="form-group">
    <%= label f, :client_id, class: "control-label" %>
    <%= number_input f, :client_id, class: "form-control" %>
    <%= error_tag f, :client_id %>
  </div>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>
