<h2>Listing Notes</h2>

<table class="table">
  <thead>
    <tr>
      <th>Posx</th>
      <th>Posy</th>
      <th>Text</th>
      <th>Client</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for note <- @notes do %>
    <tr>
      <td><%= note.posX %></td>
      <td><%= note.posY %></td>
      <td><%= note.text %></td>
      <td><%= note.client_id %></td>

      <td class="text-right">
        <span><%= link "Show", to: note_path(@conn, :show, note), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Edit", to: note_path(@conn, :edit, note), class: "btn btn-default btn-xs" %></span>
        <span><%= link "Delete", to: note_path(@conn, :delete, note), method: :delete, data: [confirm: "Are you sure?"], class: "btn btn-danger btn-xs" %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Note", to: note_path(@conn, :new) %></span>
