<h2>Show Note</h2>

<ul>

  <li>
    <strong>Posx:</strong>
    <%= @note.posX %>
  </li>

  <li>
    <strong>Posy:</strong>
    <%= @note.posY %>
  </li>

  <li>
    <strong>Text:</strong>
    <%= @note.text %>
  </li>

  <li>
    <strong>Client:</strong>
    <%= @note.client_id %>
  </li>

</ul>

<span><%= link "Edit", to: note_path(@conn, :edit, @note) %></span>
<span><%= link "Back", to: note_path(@conn, :index) %></span>
