<%# setting the user id for channel %>
<script>window.userToken = "<%= Phoenix.Token.sign(SlothWeb.Endpoint, "user salt", assigns[:current_user].id) %>"</script>
<script type="text/javascript">var board_id = <%= @board.id %></script>

<style type="text/css">
  /*disabling the page scrolling*/
  body
  {
      position: fixed; 
      /*overflow-y: scroll;*/
      width: 100%;
  }
</style>

<div id="messages" style="display: flex;">

</div>

<script type="text/javascript">
  // document.getElementById('chat-input').addEventListener('input', function() {
    // this.innerHTML = process_tags(this.innerHTML);
    // setEndOfContenteditable(this);
  // });

  // https://www.w3schools.com/howto/howto_js_dropdown.asp
  // clearing dropdown buttons
  window.onclick = function(event) {
    if (!event.target.matches('.dropbtn')) {

      var dropdowns = document.getElementsByClassName("dropdown-content");
      var i;
      for (i = 0; i < dropdowns.length; i++) {
        var openDropdown = dropdowns[i];
        if (openDropdown.classList.contains('show')) {
          openDropdown.classList.remove('show');
        }
      }
    }
  }
</script>

<script src="<%= static_path(@conn, "/js/board.js") %>"></script>