<script>window.userToken = "<%= Phoenix.Token.sign(SlothWeb.Endpoint, "user salt", assigns[:current_user].id) %>"</script>

<h2>Add Post</h2>

<%= render "form.html", Map.put(assigns, :action, post_path(@conn, :create)) %>


<script type="text/javascript">
  function post_click(url, id) {
    global_channel.push("post_click", {'post_id': id}) 
    // window.open(url,'_blank');
  }

  var global_channel = null;
</script>



<%= for post <- @posts do %>
    <p id="post<%=post.id%>" ><%= post.title %> <span> clicks <%= length(@clicks[post.id] || []) %></span></p>
    <script type="text/javascript">
      document.getElementById("post<%=post.id%>").onclick = function() {
        post_click('<%=post.title%>', <%=post.id%>);
      }
    </script>
<% end %>



<script src="<%= static_path(@conn, "/js/post.js") %>"></script>

<%= render "three.html", assigns %>
<%= render "pointerlock.html", assigns %>

<script type="text/javascript">
        var camera, scene, renderer;
      var geometry, material, mesh;
      var controls;

      var objects = [];

      var raycaster;

      var blocker = document.getElementById( 'blocker' );
      var instructions = document.getElementById( 'instructions' );

      // http://www.html5rocks.com/en/tutorials/pointerlock/intro/

      var havePointerLock = 'pointerLockElement' in document || 'mozPointerLockElement' in document || 'webkitPointerLockElement' in document;

      if ( havePointerLock ) {

        var element = document.body;

        var pointerlockchange = function ( event ) {

          if ( document.pointerLockElement === element || document.mozPointerLockElement === element || document.webkitPointerLockElement === element ) {

            controlsEnabled = true;
            controls.enabled = true;

            // blocker.style.display = 'none';

          } else {

            controls.enabled = false;

            // blocker.style.display = '-webkit-box';
            // blocker.style.display = '-moz-box';
            // blocker.style.display = 'box';

            // instructions.style.display = '';

          }

        };

        var pointerlockerror = function ( event ) {

          // instructions.style.display = '';

        };

        // Hook pointer lock state change events
        document.addEventListener( 'pointerlockchange', pointerlockchange, false );
        document.addEventListener( 'mozpointerlockchange', pointerlockchange, false );
        document.addEventListener( 'webkitpointerlockchange', pointerlockchange, false );

        document.addEventListener( 'pointerlockerror', pointerlockerror, false );
        document.addEventListener( 'mozpointerlockerror', pointerlockerror, false );
        document.addEventListener( 'webkitpointerlockerror', pointerlockerror, false );


      } else {

        // instructions.innerHTML = 'Your browser doesn\'t seem to support Pointer Lock API';

      }

      init();
      animate();

      var controlsEnabled = false;

      var moveForward = false;
      var moveBackward = false;
      var moveLeft = false;
      var moveRight = false;
      var canJump = false;

      var prevTime = performance.now();
      var velocity = new THREE.Vector3();

      function init() {

        camera = new THREE.PerspectiveCamera( 75, window.innerWidth / window.innerHeight, 1, 1000 );

        scene = new THREE.Scene();
        scene.background = new THREE.Color( 0xffffff );
        scene.fog = new THREE.Fog( 0xffffff, 0, 750 );

        var light = new THREE.HemisphereLight( 0xeeeeff, 0x777788, 0.75 );
        light.position.set( 0.5, 1, 0.75 );
        scene.add( light );

        controls = new THREE.PointerLockControls( camera );
        scene.add( controls.getObject() );

        var onKeyDown = function ( event ) {

          switch ( event.keyCode ) {

            case 38: // up
            case 87: // w
              moveForward = true;
              break;

            case 37: // left
            case 65: // a
              moveLeft = true; break;

            case 40: // down
            case 83: // s
              moveBackward = true;
              break;

            case 39: // right
            case 68: // d
              moveRight = true;
              break;

            case 32: // space
              velocity.y += 350;
              break;

          }

        };

        var onKeyUp = function ( event ) {

          switch( event.keyCode ) {

            case 38: // up
            case 87: // w
              moveForward = false;
              break;

            case 37: // left
            case 65: // a
              moveLeft = false;
              break;

            case 40: // down
            case 83: // s
              moveBackward = false;
              break;

            case 39: // right
            case 68: // d
              moveRight = false;
              break;
            case 32: // space
              velocity.y = 0;
              break;  

          }

        };

        document.addEventListener( 'keydown', onKeyDown, false );
        document.addEventListener( 'keyup', onKeyUp, false );

        // floor

        geometry = new THREE.PlaneGeometry( 2000, 2000, 100, 100 );
        geometry.rotateX( - Math.PI / 2 );

        for ( var i = 0, l = geometry.vertices.length; i < l; i ++ ) {

          var vertex = geometry.vertices[ i ];
          vertex.x += Math.random() * 20 - 10;
          vertex.y += Math.random() * 2;
          vertex.z += Math.random() * 20 - 10;

        }

        for ( var i = 0, l = geometry.faces.length; i < l; i ++ ) {

          var face = geometry.faces[ i ];
          face.vertexColors[ 0 ] = new THREE.Color().setHSL( Math.random() * 0.3 + 0.5, 0.75, Math.random() * 0.25 + 0.75 );
          face.vertexColors[ 1 ] = new THREE.Color().setHSL( Math.random() * 0.3 + 0.5, 0.75, Math.random() * 0.25 + 0.75 );
          face.vertexColors[ 2 ] = new THREE.Color().setHSL( Math.random() * 0.3 + 0.5, 0.75, Math.random() * 0.25 + 0.75 );

        }

        material = new THREE.MeshBasicMaterial( { vertexColors: THREE.VertexColors } );

        mesh = new THREE.Mesh( geometry, material );
        scene.add( mesh );

        // objects

        geometry = new THREE.BoxGeometry( 20, 20, 20 );

        for ( var i = 0, l = geometry.faces.length; i < l; i ++ ) {

          var face = geometry.faces[ i ];
          face.vertexColors[ 0 ] = new THREE.Color().setHSL( Math.random() * 0.3 + 0.5, 0.75, Math.random() * 0.25 + 0.75 );
          face.vertexColors[ 1 ] = new THREE.Color().setHSL( Math.random() * 0.3 + 0.5, 0.75, Math.random() * 0.25 + 0.75 );
          face.vertexColors[ 2 ] = new THREE.Color().setHSL( Math.random() * 0.3 + 0.5, 0.75, Math.random() * 0.25 + 0.75 );

        }

        var link_block_counter = 1;
        <%= for post <- @posts do %>
        // for ( var i = 0; i < 1; i ++ ) {

          material = new THREE.MeshPhongMaterial( { specular: 0xffffff, flatShading: true, vertexColors: THREE.VertexColors } );

          var mesh = new THREE.Mesh( geometry, material );
          mesh.position.x = 0;
          mesh.position.y = 10;
          mesh.position.z = -link_block_counter * 50;

          var heighter = <%= 1 + length(@clicks[post.id] || []) %>;
          mesh.scale.set(1,heighter,1);

          scene.add( mesh );

          material.color.setHSL( Math.random() * 0.2 + 0.5, 0.75, Math.random() * 0.25 + 0.75 );

          objects.push( mesh );

          link_block_counter = link_block_counter + 1;

        // }
        <% end %>
        //

        renderer = new THREE.WebGLRenderer();
        renderer.setPixelRatio( window.devicePixelRatio );
        renderer.setSize( window.innerWidth /2, window.innerHeight /2 );
        var canvas  = document.body.appendChild( renderer.domElement );
        // console.log(canvas);
        canvas.addEventListener( 'click', function ( event ) {

          // instructions.style.display = 'none';

          // Ask the browser to lock the pointer
          element.requestPointerLock = element.requestPointerLock || element.mozRequestPointerLock || element.webkitRequestPointerLock;
          element.requestPointerLock();

        }, false );

        //

        window.addEventListener( 'resize', onWindowResize, false );

      }

      function onWindowResize() {

        camera.aspect = window.innerWidth / window.innerHeight;
        camera.updateProjectionMatrix();

        renderer.setSize( window.innerWidth, window.innerHeight );

      }

      function animate() {

        requestAnimationFrame( animate );

        if ( controlsEnabled ) {
          var isOnObject = false;

          var time = performance.now();
          var delta = ( time - prevTime ) / 1000;

          velocity.x -= velocity.x * 10.0 * delta;
          velocity.z -= velocity.z * 10.0 * delta;

          velocity.y -= 9.8 * 0.01 * delta; // 100.0 = mass

          if ( moveForward ) velocity.z -= 400.0 * delta;
          if ( moveBackward ) velocity.z += 400.0 * delta;

          if ( moveLeft ) velocity.x -= 400.0 * delta;
          if ( moveRight ) velocity.x += 400.0 * delta;

          if ( isOnObject === true ) {
            velocity.y = Math.max( 0, velocity.y );

            canJump = true;
          }

          controls.getObject().translateX( velocity.x * delta );
          controls.getObject().translateY( velocity.y * delta );
          controls.getObject().translateZ( velocity.z * delta );

          if ( controls.getObject().position.y < 10 ) {

            velocity.y = 0;
            controls.getObject().position.y = 10;

            canJump = true;

          }

          prevTime = time;

        }

        renderer.render( scene, camera );

      }
</script>