<canvas  id="city-canvas"></canvas>


<script id="shader-fs" type="x-shader/x-fragment">
    precision mediump float;        // Set the default precision to medium. We don't need as high of a 
                    // precision in the fragment shader.
    uniform sampler2D u_Texture;    // The input texture.

    varying vec3 v_normal;


    varying vec4 v_Color;           // This is the color from the vertex shader interpolated across the
                      // triangle per fragment.
    varying vec2 v_TexCoordinate;   // Interpolated texture coordinate per fragment.
      
    // The entry point for our fragment shader.
    void main()                       
    {                              
      // because v_normal is a varying it's interpolated
      // we it will not be a uint vector. Normalizing it
      // will make it a unit vector again
      vec3 normal = normalize(v_normal);
 
      vec3 light_source1 = normalize(vec3(1,1,1));
      vec3 light_source2 = normalize(vec3(-1.0,-1.0,1.0));
      vec3 light_source3 = normalize(vec3(1.0, 1.0,-1.0));
      vec3 light_source4 = normalize(vec3(-1.0,1.0,-1.0));

      float light = max(dot(normal, light_source1), 0.0);
      float light1 = max(dot(normal, light_source2), 0.0);
      float light2 = max(dot(normal, light_source3), 0.0);
      float light3 = max(dot(normal, light_source4), 0.0);
      float final_light1 = max(light,light1);
      float final_light2 = max(light2,final_light1);
      float final_light3 = max(light3,final_light2);

      // Multiply the color by the diffuse illumination level and texture value to get final output color.

      vec4 color0 = texture2D(u_Texture, v_TexCoordinate);
      vec4 color1 = v_Color;
      gl_FragColor = color0 * color1;
      // gl_FragColor = v_Color;

      // Lets multiply just the color portion (not the alpha)
      // by the light
      gl_FragColor.rgb *= (0.3 + (final_light3 * 0.7));
      // gl_FragColor.rgb *= final_light3;
    }

</script>


























































<script id="shader-vs" type="x-shader/x-vertex">
    uniform mat4 u_MVPMatrix;   // A constant representing the combined model/view/projection matrix.                

    uniform float u_time;

    attribute vec4 a_Position;    // Per-vertex position information we will pass in.           
    attribute vec4 a_Color;     // Per-vertex color information we will pass in.        
    attribute vec2 a_TexCoordinate; // Per-vertex texture coordinate information we will pass in.
      
    attribute vec3 a_normal;
    
    varying vec3 v_normal;

    varying vec4 v_Color;     // This will be passed into the fragment shader.
    varying vec2 v_TexCoordinate;   // This will be passed into the fragment shader.
      
    // The entry point for our vertex shader.  
    void main()                                                   
    {                                                         
      // Pass through the color.
      v_Color = a_Color;

      v_normal = a_normal;
      
      // Pass through the texture coordinate.
      v_TexCoordinate = a_TexCoordinate;                                      

      // gl_Position is a special variable used to store the final position.
      // Multiply the vertex by the matrix to get the final point in normalized screen coordinates.
      vec4 v = (u_MVPMatrix * a_Position);

      gl_Position =  v; 
      // u_MVPMatrix *                            
    }        
</script>















































<script type="text/javascript">

var gl;
var shaderProgram;
var shaderProgramTree;

var canvas;

var globalStartTex;
var theScene;

//try to move these into daydream controller class
var frameData;
var vrDisplay;
var vrViewFlip = 0;
var globalDaydreamTask = null;

var global_draw_count = 0;



function initGL(canvas) {
    try {
        gl = canvas.getContext('webgl', { premultipliedAlpha: false, alpha: false });
        gl.viewportWidth = canvas.width;
        gl.viewportHeight = canvas.height;

        //allows z testing for overwriting
        gl.enable( gl.DEPTH_TEST );
        gl.depthFunc( gl.LEQUAL );
        gl.depthMask( true );
        gl.disable(gl.BLEND);
        //setting blending and alpha so that images can be transparent when alpha not 1
        // gl.enable(gl.BLEND);
        // gl.blendFunc(gl.SRC_ALPHA, gl.ONE_MINUS_SRC_ALPHA);

        gl.clearColor(1.0, 1.0, 1.0, 1.0);
        gl.enable(gl.DEPTH_TEST);

        gl.viewport(0, 0, gl.viewportWidth, gl.viewportHeight);
        // gl.clear(gl.COLOR_BUFFER_BIT | gl.DEPTH_BUFFER_BIT);

        //culling
        // gl.enable(gl.CULL_FACE);
        // gl.cullFace(gl.BACK);

        // gl.pixelStorei(gl.UNPACK_PREMULTIPLY_ALPHA_WEBGL, false);s
    } catch (e) {
    }
    if (!gl) {
        alert("Could not initialise WebGL, sorry :-(");
    }
}


function getShader(gl, id) {
    var shaderScript = document.getElementById(id);
    if (!shaderScript) {
        return null;
    }
    var str = "";
    var k = shaderScript.firstChild;
    while (k) {
        if (k.nodeType == 3) {
            str += k.textContent;
        }
        k = k.nextSibling;
    }
    var shader;
    if (shaderScript.type == "x-shader/x-fragment") {
        shader = gl.createShader(gl.FRAGMENT_SHADER);
    } else if (shaderScript.type == "x-shader/x-vertex") {
        shader = gl.createShader(gl.VERTEX_SHADER);
    } else {
        return null;
    }
    gl.shaderSource(shader, str);
    gl.compileShader(shader);
    if (!gl.getShaderParameter(shader, gl.COMPILE_STATUS)) {
        alert(gl.getShaderInfoLog(shader));
        return null;
    }
    return shader;
}

function initShaders() {

    var fragmentShader = getShader(gl, "shader-fs");
    var vertexShader = getShader(gl, "shader-vs");
    shaderProgram = gl.createProgram();
    gl.attachShader(shaderProgram, vertexShader);
    gl.attachShader(shaderProgram, fragmentShader);
    gl.linkProgram(shaderProgram);
    if (!gl.getProgramParameter(shaderProgram, gl.LINK_STATUS)) {
        alert("Could not initialise shaders");
    }
    gl.useProgram(shaderProgram);


    shaderProgram.mMVPMatrixHandle = gl.getUniformLocation(shaderProgram, "u_MVPMatrix");
    shaderProgram.mTime = gl.getUniformLocation(shaderProgram, "u_time");
    shaderProgram.mPositionHandle = gl.getAttribLocation(shaderProgram, "a_Position");
    shaderProgram.mColorHandle = gl.getAttribLocation(shaderProgram, "a_Color");
    shaderProgram.mTexHandle = gl.getAttribLocation(shaderProgram, "a_TexCoordinate");
    shaderProgram.mTextureUniformHandle = gl.getUniformLocation(shaderProgram, "u_Texture");

    shaderProgram.mNormalHandle = gl.getAttribLocation(shaderProgram, "a_normal");
   
    // Set the active texture unit to texture //unit 0.
    gl.activeTexture(gl.TEXTURE0);

    // Bind the texture to thi//s unit.
//        GLES20.glBindTexture(GLES20.GL_TEXTURE_2D, mTextureDataHandle);
    //enables repeating texture, uses artificially large map
    gl.texParameteri(gl.TEXTURE_2D, gl.TEXTURE_WRAP_T, gl.REPEAT);

    // Tell the texture uniform sampler to use this texture in the shader by binding to texture unit 0.
    gl.uniform1i(shaderProgram.mTextureUniformHandle, 0);

}

function webGLStart() {
    canvas = document.getElementById("city-canvas");
    initGL(canvas);
    initShaders();

    //loading a base texture to be used for shapes
    // let newTexture = TextureHelper.loadTextureFromData(loadStartTexture, 'iVBORw0KGgoAAAANSUhEUgAAAQAAAAEABAMAAACuXLVVAAAAA1BMVEUzNDVs\nzlHHAAAAAXRSTlMAQObYZgAAAAlwSFlzAAAAAAAAAAAB6mUWpAAAADZJREFU\neJztwQEBAAAAgiD/r25IQAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA\nAAAA7waBAAABw08RwAAAAABJRU5ErkJggg==\n');

    // function loadStartTexture(theTexture) {
    //     globalStartTex = Textures.addTexture(theTexture);
    //     setUpScene();
    // }
}





</script>