/* This file is for your main application css. */

@import url(https://fonts.googleapis.com/css?family=Lato);



.chat {
  width: 300px;
  background-color: #ccdfff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.chat_display {
  width: 100%;
  flex-grow: 1;
  overflow-y: auto;
  background-color: white;
  padding: 10px;
}

.input_display {
  padding-top: 10px;
  padding-bottom: 10px;
}

.shown_message {
  margin: 0px;
  word-wrap: break-word;
}
.shown_message span {
  color: blue;
}

.message_input {
  width: 100%;
  background-color: white;
}

.message_input span {
  color:blue;
}

.board {
  flex-grow: 4;
}

.topBar{
  z-index:1;
  /*position:absolute;*/
  width:200px;
  height:40px;
  background-color:#f39c12;
}

.holder_topBar {
  z-index: -1;
  /*position:absolute;*/
  width:200px;
  height:40px;
  background-color:#f39c12;
  opacity: 0.7;
}

.form{
  /*margin-top:40px;*/
  /*position:absolute;*/
  width:200px;
  height:160px;
  background-color:#f1c40f;
}

.holder_form {
  z-index: -1;
  width:200px;
  height:160px;
  background-color: gray; 
  opacity: 0.7;
}

.textAria{
  /*position:absolute;*/
  border-color:red;
  /*width:180px;*/
  height:160px;
  /*position:absolute;*/
  /*margin:10px;*/
  padding: 10px;
  font-family: 'Lato', sans-serif;
  overflow:hide;

  display: flex;
  flex-direction: column;
}
.textAria:focus{
  outline: 0;
}
.inner_note_text {
  flex-grow: 1;
}
.note_assigned_user {
  text-align: right;
  display: flex;
  cursor: pointer;
}
.note_assigned_user .spacer {
  flex-grow: 1;
}

.note_assigned_user .user_text {
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
}

.postIt { 
  height: 200px;
  width: 200px;
} 



.board_nav_bar {
  background-color: gray;
  height: 5vh;
  display: flex;

}

.board_nav_home_button {
  background-color: white;
  cursor: pointer;
  margin-bottom: 0px;
  font-size: 3vh;
  border: solid 1px black;
  padding-right: 5px;
  padding-left: 5px;
}

.board_and_nav_holder {
  width: 70vw;
}

.wholeNoteArea {
  flex-grow: 1;
  display: flex;
  height: 95vh;
  /*overflow: auto;*/
  overflow: auto;
}

.wholeChatArea {
  background-color: #e8e8e8;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 30px;
  height: 100vh;
  width: 30vw;
  /*position: fixed;*/
  top: 0px;
  right: 0px;
  display: flex;
  flex-direction: column;
}

.section_holder {
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 20px;

  padding: 10px;
  background-color: blue;
  min-height: 80vh;
  width: 230px;

  display: flex;
  flex-direction: column;
}

.reactRoot {
  display:flex;
  width:100%;
  min-height: 100vh;
}


































/* Dropdown Button */
.dropbtn {
/*    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;*/
}

/* Dropdown button on hover & focus */
/*.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}*/

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content-hidden {
  display: none;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}







































.section_title {
  text-align: center;
}



.board_display {
  display: flex;
}

.board_square_holder {
  display: flex;
  flex-direction: column;
  margin: 10px;
}

.board_square {
  
  background-color: gray;
  /*text-align: center;*/
  display: flex;
  justify-content: space-between;
  padding: 0px 5px 0px 5px;
  line-height: 30px;
  width: 200px;
  height: 30px;
  cursor: pointer;
}

.board_info_square {
  width: 200px;
  padding: 10px;
  cursor: pointer;
  background-color: green;
  display: flex;
  flex-direction: column;
}










.home_nav_bar {
  background-color: gray;
  height: 5vh;
  display: flex;
}


.home_nav_create_button {
  background-color: white;
  cursor: pointer;
}

.squares_holder {
  display: flex;
}


.sub_board_button {
  text-align: center;
  width: 200px;
  background-color: red;
  cursor: pointer;

}

.recur_all_holder {
  display: flex;
}

.recur_list_holder {
  display: flex;
  border: solid 2px black;
  margin: 5px;
}

.subBoards {
  display: flex;
}
