<%# setting the user id for channel %>
<script>window.userToken = "<%= Phoenix.Token.sign(SlothWeb.Endpoint, "user salt", assigns[:current_user].id) %>"</script>

<div id="rooter" >

</div>

<script src="<%= static_path(@conn, "/js/home.js") %>"></script>